@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "scss/duotone.scss";
@import "scss/light.scss";
@import "scss/brands.scss";
@import "fonts/";
// @import "~aos/dist/aos.css";

.bg-white {
  background-color: white;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.mr-2 {
  margin-right: 0.5em;
}

.flex {
  display: flex;
  // margin: 8px 0;
}
.center {
  justify-content: center;
  align-items: center;
}
.between {
  justify-content: space-between;
  align-items: center;
}
.end {
  justify-content: flex-end;
  align-items: center;
}
.swiper-wrapper {
  height: 100%;
  padding: 5px;
}

.m8 {
  margin: 8px 0
}